body {
    background-color: white;
    width: 1600px;
    text-align: center;
    margin: 0 auto;
}
table {
    border-collapse: collapse;
}
th, td {
    border: 1px black solid ;
    padding: 5px;
}
img{
    float: right;
    border: 1px solid;
    border-radius:50%; width: 40%; height: auto;
}